<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://178.63.37.174:3306/sql1202</property>
    <property name="hibernate.connection.username">sql1202</property>
    <property name="hibernate.connection.password">cJd8dm7s</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.connection.autocommit">true</property> 
	<property name="hibernate.connection.autoReconnectForPools">true</property> 
	<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property> 
    <property name="c3p0.acquire_increment">1</property> 
    <property name="c3p0.idle_test_period">100</property> <!-- seconds --> 
    <property name="c3p0.max_size">100</property> 
    <property name="c3p0.max_statements">0</property> 
    <property name="c3p0.min_size">10</property> 
    <property name="c3p0.timeout">1800</property>
    <mapping resource="Evento/model/UserMapping.hbm.xml"/>
    <mapping resource="Evento/model/RatingMapping.hbm.xml"/>
    <mapping resource="Evento/model/PictureMapping.hbm.xml"/>
    <mapping resource="Evento/model/InvitationMapping.hbm.xml"/>
    <mapping resource="Evento/model/EventMapping.hbm.xml"/>
    <mapping resource="Evento/model/CommentMapping.hbm.xml"/>
    <mapping resource="Evento/model/AlbumMapping.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
