/*

	Design by Free CSS Templates
	http://www.freecsstemplates.org
	Released for free under a Creative Commons Attribution License

	Name       : Nameless Geometry
	Version    : 1.0
	Released   : 20130222
	
*/

* {
	margin: 0;
	padding: 0;
}

a {
	color: #cfcfcf;
	text-decoration: underline;
        cursor: pointer;
}


body {
	font-size: 11pt;
	line-height: 1.5em;
	font-family: 'Trebuchet MS', sans-serif;
	background: #1f1f1f url('images/bg.png');
	color: #909090;
}

strong {
	color: #cfcfcf;
}

br.clear {
	clear: both;
}

h1,h2,h3,h4 {
	font-weight: normal;
	color: #eaeaea;
	text-shadow: 0 2px 1px #181818;
}

h2,h3,h4 {
	font-size: 1.5em;
	margin-bottom: 1em;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #ffffff;
}



img.left {
	float: left;
	margin: 4px 20px 20px 0;
}

img.top {
	margin: 4px 0 20px 0;
}

p {
	margin-bottom: 1.25em; 
}

.pp{
	
	text-align:left; 
	margin-bottom:1px;
}


ul {
	margin-bottom: 3em;
}

button, input{
padding: 3px;
background:#8d4d4d;
background:-moz-linear-gradient(top,#8d4d4d 0%,#733333 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#8d4d4d),color-stop(100%,#733333));
background:-webkit-linear-gradient(top,#8d4d4d 0%,#733333 100%);
background<wow>-linear-gradient(top,#8d4d4d 0%,#733333 100%);
background:-ms-linear-gradient(top,#8d4d4d 0%,#733333 100%);
background:linear-gradient(top,#8d4d4d 0%,#733333 100%);
filter:Progid:DXImageTransform.Microsoft.gradient(startColorstr='#8d4d4d',endColorstr='#733333',GradientType=0);
color: rgba(255,255,255,0.9);
border-radius: 10px;
}
button:hover, input:hover{
color: rgba(255,220,220,0.9);
background:#8d4d3d;
}


#bg {
	background: url('images/shadow.png') top left repeat-x;
	padding: 40px 0 0 0;
}

#banner {
	background: #ffffff;
}

#box1 {
	width: 556px;
	overflow: hidden;
	margin: 0 0 28px 0;
}

#box2 {
	width: 264px;
	overflow: hidden;
	float: left;
}

#box3 {
	width: 264px;
	overflow: hidden;
	margin: 0 0 0 292px;
}

#content {
	width: 556px;
	margin: 0 0 0 280px;
	padding: 0;
}

#copyright {
	text-align: center;
	padding: 8px 0 80px 0;
	color: #404040;
	text-shadow: 0 1px 0 #101010;
}

#copyright a {
	color: #404040;
}

#footer {
	position: relative;
	padding: 32px;
	width: 1116px;
	color: #808080;
	margin-top: 16px;
	text-shadow: 0 1px 0 #000000;
}

#footer a {
	color: #a0a0a0;
}

#footer h2, #footer h3, #footer h4 {
	color: #ffffff;
}

#footer p {
	margin-bottom: 0;
}

#footer ul {
	list-style: none;
	margin-bottom: 0;
}

#footer ul li {
	padding: 16px 0 16px 0;
	border-top: solid 1px #353535;
	border-bottom: solid 1px #101010;
}

#footer ul li.first {
	padding-top: 0;
	border-top: 0;
}

#footer ul li.last {
	padding-bottom: 0;
	border-bottom: 0;
}

#footerContent {
	width: 836px;
	float: left;
}

#footerSidebar {
	width: 252px;
	margin: 0 0 0 864px;
}

#header {
	position: relative;
	padding: 32px;
	height: 130px;
}

#logo {
	position: absolute;
	top: 32px;
	left: 32px;
	height: 130px;
	line-height: 130px;
}

#logo a {
	text-decoration: none;
	color: #ffffff;
	text-shadow: 0 2px 2px #000000;
}

#logo h1 {
	font-size: 3em;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

#main {
	position: relative;
	padding: 32px;
	width: 1116px;
	background: #262626 url('images/cbg.png') top left repeat-x;
	border-top: solid 1px #606060;
	border-bottom: solid 1px #151515;
	text-shadow: 0 1px 0 #101010;
}

#main ul {
	list-style: none;
}

#main ul li {
	padding: 12px 0 12px 0;
	border-top: solid 1px #404040;
	border-bottom: solid 1px #181818;
}

#main ul li.first {
	padding-top: 0;
	border-top: 0;
}

#main ul li.last {
	padding-bottom: 0;
	border-bottom: 0;
}

#main ul.imageList {
	list-style: none;
}

#main ul.imageList li {
	padding: 20px 0 20px 0;
}

#main ul.imageList li.first {
	padding-top: 0;
}

#main ul.imageList li.last {
	padding-bottom: 0;
}

#main ul.imageList li img {
	float: left;
}

#main ul.imageList li p {
	padding: 0;
	margin: 0;
}

#nav {
	position: absolute;
	right: 32px;
	height: 50px;
	line-height: 50px;
	top: 75px;
	background: #6f2f2f url('images/navbg.png') top left repeat-x;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.4em;
	padding: 0 1em 0 1em;
	border-top: solid 1px #ab6f6f;
}

#nav a {
	text-decoration: none;
	color: #ffffff;
	text-shadow: 0 2px 1px #3F1C1C;
}

#nav li {
	margin: 0 1em 0 1em;
}

#nav ul {
	list-style: none;
}

#nav ul li {
	float: left;
}

#outer {
	position: relative;
	width: 1180px;
	margin: 0 auto 0 auto;
}

#search input.button {
	margin-left: 1em;
	border: 0;
	color: #ffffff;
	background: #6f2f2f;
	padding: 9px;
}

#search input.text {
	border: solid 1px #ffffff;
	padding: 8px;
}

#sidebar1 {
	width: 252px;
	float: left;
	padding: 0;
}

#sidebar2 {
	width: 252px;
	float: right;
	padding: 0;
}

#fejs {
    position: absolute;
    top: 0;
    right: 32px;
    list-style: none;
}
.folder{
	background-image: url('images/folder.png');
	background-size: 100%;
	width: 300px;
	height: 206px;	
}
.zdjecia{
	position: relative;
	margin: 0 auto;
	text-align: center;
}
.zdjecia .zdjecie{
	margin: 0 10px 24px;
	display: inline-block;
	text-align: center;
	position: relative;
}
.zdjecie img{
	height: 230px;
	width: auto;
	border-radius: 10px;
}


.rating{
	margin: 7px auto 15px;
}
img.album{
	height: 206px;
}
<!--kalendarz -->
table.div{
  
}
table.kalendarz {
  font-size: 12px;
  margin: 0 auto;

  background-color: #eee;
  border-radius: 5px;
  padding: 2px
}

table.kalendarz td,table.kalendarz th {
  border:1px solid #ddd;
  padding: 4px 10px;
  border-radius: 5px;
  text-align: center;
  background-color: white;
}

table.kalendarz .niedziela {
  color: red;
  font-weight: bold;
  background-color: pink
}

table.kalendarz .nieaktywny {
  color: #bbb
}

table.kalendarz .niedziela.nieaktywny {
  color: pink;
  background-color: #fff
}

table.kalendarz .aktywny {
  cursor: pointer
}

table.kalendarz .aktywny:hover {
  background-color: #fff;
}

table.kalendarz .btn {
  background-color: #eee;
  font-size: 10px;
  border: 1px solid #eee;
  padding: 2px 4px;
  cursor: pointer;
  border-radius: 5px;
  color: navy
}

table.kalendarz .btn:hover {
  background-color: #ccc;
}

table.kalendarz .rok {
  float: right
}

table.kalendarz .miesiac {
  float: left
}

table.kalendarz .wydarzenie {
  color: navy;
  font-weight: bold;
  background-color: #e6af2a
 } 
 .fb-comments{
 	position: absolute !important;
 	right: 0;
 	top: 0;
 }
 
 form {
 	display:inline-block;
 	float:left; 
 }

 .title{
 	font-size: 30px;
 	margin-bottom: 20px;
 	font-weight: bold;
 	font-style: italic;
 	text-align: center;
 }
 
 /*edycja zdjec*/
 #edytor-blackout{
	position:fixed;
	width:100%;
	height:100%;
	background:black;
	opacity:0.9;
	top:0;
	left:0;
}
#edytor-wrapper
{
    position:fixed;
    margin: auto;
    top:50%;
    left:50%;
	margin: 10px auto;
	background-color: #000;
	color: #fff;
	line-height: 130%;
}
#edytor-leftnav
{
float: left;
width: 250px;
margin: 0;
padding: 1em;
}

#edytor-content
{
margin-left: 290px;
padding: 1em;
}
button.edytor-button
{ 
width:100px; 
margin-left:10px;  
background:#8d4d4d; 
background:#8d4d4d; 
background:-moz-linear-gradient(top,#8d4d4d 0%,#733333 100%); 
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#8d4d4d),color-stop(100%,#733333)); 
background:-webkit-linear-gradient(top,#8d4d4d 0%,#733333 100%); 
background:-o-linear-gradient(top,#8d4d4d 0%,#733333 100%); 
background:-ms-linear-gradient(top,#8d4d4d 0%,#733333 100%); 
background:linear-gradient(top,#8d4d4d 0%,#733333 100%); 
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8d4d4d',endColorstr='#733333',GradientType=0); 
padding:8px 13px; 
color:#fff; 
font-family:'Helvetica Neue',sans-serif; 
font-size:17px; 
border-radius:4px; 
-moz-border-radius:4px; 
-webkit-border-radius:4px; 
border:1px solid #1A87B9; 
padding:8px 13px; 
color:#fff; 
font-family:'Helvetica Neue',sans-serif; 
font-size:17px; 
border-radius:10px; 
-moz-border-radius:4px; 
-webkit-border-radius:4px; 
border:1px solid #1A87B9;
}
button.edytor-button:hover{ 
background:-moz-linear-gradient(top,#733333 30%,#8d4d4d 100%); 
background:-webkit-gradient(linear,left top,left bottom,color-stop(30%,#733333),color-stop(100%,#8d4d4d)); 
background:-webkit-linear-gradient(top,#733333 30%,#8d4d4d 100%); 
background<wow>-linear-gradient(top,#733333 30%,#8d4d4d 100%); 
background:-ms-linear-gradient(top,#733333 30%,#8d4d4d 100%); 
background:linear-gradient(top,#733333 30%,#8d4d4d 100%); 
filter:Progid:DXImageTransform.Microsoft.gradient(startColorstr='#733333',endColorstr='#8d4d4d',GradientType=0); 
}
#edytor-lefnav > button.edytor-button:disabled{background:gray;}
#edytor-leftnav p { margin: 0 0 1em 0; }
#edytor-content h2 { margin: 0 0 .5em 0; }
.edytor-hidden{display:none;}

.comments{
position: absolute;
width: 300px;
top: 5px;
left: 8px;
color: #ccc;	
background: #333;
border-radius: 10px;
}
.comment {
    border-bottom: 1px solid #CCCCCC;
    padding: 5px;
}
.comment > div{
	background: black;
	padding-left: 5px;
}
.comment .kto{
	border-radius: 10px 10px 0 0;
}
.comment .tresc{
	border-radius: 0 0 10px 10px;
}
#comments_box textarea{
        background: black;
        border: none;
        margin: 5px;
        border-radius: 0 10px 0 10px;
        color: white;
        padding: 5px;
        width: 292px;
}
#comments_box #dodaj{
        font-size: 17px;
        margin: 0 0 5px 79px;
}
#comments_box .tytul{
	font-size: 20px;
	color: white;
	text-align: center;
	margin: 5px;
}


li a:hover{
	
	color: rgba(255,220,220,0.9); 
	background:#8d4d3d; 
	border: 1px rgba(255,220,220,0.9);
	
	
}
 
 
 .zdjeciaStronaGlowna { 

width:275px; 
height: 183px; 

}


#main .zdjecia .zdjecie img:hover{
	
    opacity: 0.5;
 
}

#main .zdjecia .zdjecie .folder:hover{
		
	opacity: 0.5;
	
}
